<article  ng-controller = "PokeBodyController" class="pokedex-container">
	<div class="sort-block col-12">
		<p class="title col-3">Sort</p>
		<ul class="col-9">
            <li class="col-4"  ng-repeat="(optionKey, optionData) in sortOptions" ng-class="{'active': $first}" ng-click="setSort (optionKey, $event)">{{optionData}} <span class="icon icon-long-arrow-down"></span></li>
		<ul>
	</div>

	<aside class="col-3 filter-block">
		<p class="title">Type</p>
		<div class="label-block">
			<label ng-repeat="typeObj in pokeTypes" ng-init="myVar=typeObj.cname">
	      <input type="checkbox" ng-click="includeType(myVar)" /> {{typeObj.ename}} 
	  	</label>
	  	</div>
	</aside>

	<div class="search-block col-9">
		<form class="form-inline">
			<input ng-model="byName" type="text" placeholder="Filter by" autofocus>
		</form>
	</div>
	<div class="col-9 poke-data-block">
		<ul class="col-12" >
			<li class="poke-item col-4" ng-repeat="subArray in pokeData | filter:byName | filter:filterType | orderBy:sort" ng-click="showDetails($event, subArray.base)" ng-init="myType=subArray.type">
				<img class="thumb-image" src="/images/thm/{{subArray.id + (subArray.flatName ? subArray.flatName : subArray.ename) + '.png'}}" alt="{{subArray.ename}}">
				<img class="main-image" src="/images/img/{{subArray.id + (subArray.flatName ? subArray.flatName : subArray.ename) + '.png'}}" alt="{{subArray.ename}}">

				<canvas id="myChart-{{$index}}" class="power-level"></canvas>
				<p class="title"><span class="poke-id">ID : {{subArray.id}}</span></p>
				<p class="name-cl">English : <span>{{subArray.ename}}</span></p>
				<p class="name-cl small-no-show">Chinese : <span>{{subArray.cname}}</span></p>
				<p class="name-cl small-no-show">Japanese : <span>{{subArray.jname}}</span></p>
				<span class="name-cl">Type : <i>{{getTypeEnglish(myType)}}</i></span>
				<span class="icon icon-cross cancel-btn" ng-click="closeUp($event)"></span>
			</li>
		</ul>
	</div>	
</article>