/******************************************************************

1030px and up

******************************************************************/

.container {
  width: 1024px;
  margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

#inner-header {
	width: 1000px;
}

#logo {
	display: block;
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	display: block;
}


/*********************
RESPONSIVE NAV
*********************/

.hamburger {
	display: none;
}

.responsive-nav {
	display: none;
}

.poke-item{
  &:hover{
    .hover-details{top: 0;}
    
    &:after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: rgba(0, 0, 0, 0.6);
      margin: auto;
      z-index: -1;
    }

    color: $white;
  } 

  .hover-details {
      @include transition(all 0.3s ease-in-out);

      padding: 5px 10px;
      position: absolute;
      top: -38px;
      left: 0;
      color: $white;
      border-right: 2px solid $white;
      border-bottom: 2px solid $white;
      display: block;
      z-index: 99;
  }

	&.col-4 {
	    width: 33.33333%; 
	}

  .data-container.col-4{
      width: 100%; 
  }

  &.expand{
    height: 400px;

    .data-container.col-4{
      width: 33.33333%; 
    }

    &:hover{
      .hover-details{display: none}
      
      &:after{
        display: none;
      }
      color: #5c6b80;
    } 
  }

  .canvas-container{
    max-width: 400px;
  }
  .main-image{
    max-width: 100%;
  }

  overflow: hidden;
}

// grid

.col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 41.66667%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; }

  [class^="col-"],
  [class*=" col-"] {
    float: left; }