/******************************************************************

481px and up

******************************************************************/

/*********************
POSTS & CONTENT STYLES
*********************/

.container {
	width: 100%;
}

.poke-item{
	&.col-4{
		width: 100%;
	}

	&.expand{
		height: 100%;
	}
}

.filter-block{
	position: fixed;
	width: 140px;
    left: -140px;
    top: 84px;
}

.search-block, .poke-data-block{
	padding: 0;
	width: 100%;
}